<html>

<head>
    <title>Salaray Classification Machine Learning Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            padding: 15px;
            margin: 25px;
            background-color: #33475b;
            border-radius: 10px;
            color: white;
            font-family: 'Avenir', sans-serif;
            text-align: center;
        }

        .container {
            border-radius: 10px;
            background-color: #fff;
            padding: 20px;
            margin: 20px auto;
            max-width: 600px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .row {
            margin-bottom: 20px;
        }

        .col-25,
        .col-75 {
            width: 100%;
            margin-top: 6px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type=text],
        select {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 6px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }
    </style>
 
</head>

<body>

    <h1 style="text-align:center;">Salaray Classification Machine Learning Project</h1>
    <div class="form">
        <form action="{{url_for('prediction_data')}}" method="POST">
            <label for="operation"></label>

            <div class="container">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="col-25">
                            <label for="age">Age</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="age" name="age" placeholder="Enter your Age..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="workclass">Select Your Workclass</label>
                        </div>
                        <div class="col-75">
                            <select id="workclass" name="workclass">
                                <option value="6">State Government</option>
                                <option value="5">Self-Employed Not Incorporated</option>
                                <option value="3">Private</option>
                                <option value="0">Federal Government</option>
                                <option value="1">Local Government</option>
                                <option value="4">Self-Employed Incorporated</option>
                                <option value="7">Without Pay</option>
                                <option value="2">Never Worked</option>
                            </select>
                        </div>
                    </div>
                    <div class="form">
                        <div class="col-25">
                            <label for="education_num">Choose Your Education</label>
                        </div>
                        <div class="col-75">
                            <select id="education_num" name="education_num">
                                <option value="13">Bachelors</option>
                                <option value="9">High School Graduate</option>
                                <option value="7">11th Grade</option>
                                <option value="14">Masters</option>
                                <option value="5">9th Grade</option>
                                <option value="10">Some College</option>
                                <option value="12">Associate of Arts</option>
                                <option value="11">Associate of Science</option>
                                <option value="4">7th-8th Grade</option>
                                <option value="16">Doctorate</option>
                                <option value="15">Professional School</option>
                                <option value="3">5th-6th Grade</option>
                                <option value="6">10th Grade</option>
                                <option value="2">1st-4th Grade</option>
                                <option value="1">Preschool</option>
                                <option value="8">12th Grade</option>
                            </select>
                            
                            
                        </div>
                        
                    </div>
                    <div class="form">
                        <div class="col-25">
                            <label for="marital_status">Choose Your Martial Status</label>
                        </div>
                        <div class="col-75">
                            <select id="marital_status" name="marital_status">
                                <option value="4">Never Married</option>
                                <option value="2">Married - Civilian Spouse</option>
                                <option value="0">Divorced</option>
                                <option value="3">Married - Spouse Absent</option>
                                <option value="5">Separated</option>
                                <option value="1">Married - Armed Forces Spouse</option>
                                <option value="6">Widowed</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="form">
                        <div class="col-25">
                            <label for="occupation">Choose Your Occupation</label>
                        </div>
                        <div class="col-75">
                            <select id="occupation" name="occupation">
                                <option value="0">Administrative / Clerical</option>
                                <option value="3">Executive / Managerial</option>
                                <option value="5">Handlers / Cleaners</option>
                                <option value="9">Professional / Specialty</option>
                                <option value="7">Other Service</option>
                                <option value="11">Sales</option>
                                <option value="2">Craft / Repair</option>
                                <option value="13">Transport / Moving</option>
                                <option value="4">Farming / Fishing</option>
                                <option value="6">Machine Operation / Inspection</option>
                                <option value="12">Tech Support</option>
                                <option value="10">Protective Services</option>
                                <option value="1">Armed Forces</option>
                                <option value="8">Private House Service</option>
                            </select>
                            
                        </div>
                        
                    </div>
                    <div class="form">
                        <div class="col-25">
                            <label for="relationship">Choose Your Relationship</label>
                        </div>
                        <div class="col-75">
                            <select id="relationship" name="relationship">
                                <option value="1">Not in Family</option>
                                <option value="0">Husband</option>
                                <option value="5">Wife</option>
                                <option value="3">Own Child</option>
                                <option value="4">Unmarried</option>
                                <option value="2">Other Relative</option>
                            </select>
                            
                        </div>
                        
                    </div>

                    <div class="form">
                        <div class="col-25">
                            <label for="race">Choose Your Race</label>
                        </div>
                        <div class="col-75">
                            <select id="race" name="race">
                                <option value="4">White</option>
                                <option value="2">Black</option>
                                <option value="1">Asian-Pacific Islander</option>
                                <option value="0">American Indian Eskimo</option>
                                <option value="3">Other</option>
                            </select>
                            
                        
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="sex">Sex</label>
                        </div>
                        <div class="col-75">
                            <select id="sex" name="sex">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="capital_gain">Capital Gain</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="capital_gain" name="capital_gain" placeholder="Enter value (float)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="capital_loss">Capital loss</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="capital_loss" name="capital_loss" placeholder="Enter value (float)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="hours_per_week">Hours per Week</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="hours_per_week" name="hours_per_week" placeholder="Enter value (float)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="native_country">Native Country</label>
                        </div>
                        <div class="col-75">
                            <select id="native_country" name="native_country">
                                <option value="38">United-States</option>
                                <option value="4">Cuba</option>
                                <option value="22">Jamaica</option>
                                <option value="18">India</option>
                                <option value="25">Mexico</option>
                                <option value="34">South</option>
                                <option value="32">Puerto-Rico</option>
                                <option value="15">Honduras</option>
                                <option value="8">England</option>
                                <option value="1">Canada</option>
                                <option value="10">Germany</option>
                                <option value="19">Iran</option>
                                <option value="29">Philippines</option>
                                <option value="21">Italy</option>
                                <option value="30">Poland</option>
                                <option value="3">Columbia</option>
                                <option value="0">Cambodia</option>
                                <option value="36">Thailand</option>
                                <option value="6">Ecuador</option>
                                <option value="24">Laos</option>
                                <option value="35">Taiwan</option>
                                <option value="13">Haiti</option>
                                <option value="31">Portugal</option>
                                <option value="5">Dominican-Republic</option>
                                <option value="7">El-Salvador</option>
                                <option value="9">France</option>
                                <option value="12">Guatemala</option>
                                <option value="2">China</option>
                                <option value="23">Japan</option>
                                <option value="40">Yugoslavia</option>
                                <option value="28">Peru</option>
                                <option value="27">Outlying-US(Guam-USVI-etc)</option>
                                <option value="33">Scotland</option>
                                <option value="37">Trinadad-Tobago</option>
                                <option value="11">Greece</option>
                                <option value="26">Nicaragua</option>
                                <option value="39">Vietnam</option>
                                <option value="16">Hong</option>
                                <option value="20">Ireland</option>
                                <option value="17">Hungary</option>
                                <option value="14">Holand-Netherlands</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row" class="center">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
</body>

</html>